# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]

env:
    FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
    FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
    FIREBASE_DB_URL: ${{ secrets.FIREBASE_DB_URL }}
    FIREBASE_STORAGE_BUCKET: ${{secrets.FIREBASE_STORAGE_BUCKET }}
    ALGOLIA_SEARCH_KEY: ${{ secrets.ALGOLIA_SEARCH_KEY }}
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: npm install 
    - name: Build production
      run: |
        export FIREBASE_API_KEY=${FIREBASE_API_KEY};
        export FIREBASE_AUTH_DOMAIN=${FIREBASE_AUTH_DOMAIN};
        export FIREBASE_DB_URL=${FIREBASE_DB_URL};
        export FIREBASE_STORAGE_BUCKET=${FIREBASE_STORAGE_BUCKET};
        export ALGOLIA_SEARCH_KEY=${ALGOLIA_SEARCH_KEY};
        
        npm run build
    - uses: w9jds/firebase-action@master
      with:
          args: deploy --only hosting:ameen-intern-task --project go-ready-blockchain
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
